#logo{
  width: 10%;
  align-items: left;
}
nav {
  // background-color: orange;
  // opacity: 90%;
  // color: white;
  // position: fixed;
}
nav ul {
  // border: solid red;
  // background-color: red;
  border-radius: 5px;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}
nav ul li {
  background-color: darkorange;
  border: red;
  border: solid darkorange;
  border-radius: 2px;
  padding: 4px;
}
nav ul li a{
  color: white;
  padding: 4px;
}




body {
  background-color: orange;
  color: white;
}
main {
  text-align: center;
  background-color: white;
  color: black;
  // padding-top: 5em;
}
h1 { 
  text-align: center;
  color: black;
  font-size: 50px;
  // padding: 10px;
  // background-color: darkorange;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: auto;
}
h2 {
  text-align: center;
  color: red;
  font-family: "Lucida Console", "Courier New", monospace;
}
h3 {
}




// div.title {
  // background-color: orange;
  // display: fixed;
  // height: 100px;
  // width: auto;
  // // min-width: 50px:
  // object-fit: cover;
  // // padding-bottom: 120px;
  // // padding-right: 10px;
  // // padding-left: 5px;
  // max-height: 100%;
  // min-height: 100px;
  // margin-top: 0;
  // margin-left: 15em;
  // margin-right: 15em;
}
div.title-img {
  display: flex;
  // align-content: center;
  // align-items: center;
  justify-content: space-around;
  margin-left: 6em;
  margin-right: 6em;
  margin-bottom: 2em;
  max-width: 100em;
  max-height: auto;
  position: center;
}
#img-back {
  // display: flex;
  // height: auto;
  // width: 100%;
  border: solid red;
  border-radius: 5px;
  // max-height: 20em;
  // min-height: fit;
  // align-content: center;
  // justify-content: space-around;
  // align-items: center;
  // // max-width: 800px;
  // // display: center;
  // // margin: 10em;
  // // margin-bottom: 2em;
  //   position: center;
  width: 100%;
  max-width: 40em;
  max-height: 20em;
  text-align: center;
  align-content: center;
  justify-content: space-around;

}




div.about-us {
  padding: 30px;
}
div.content {
  display: inline-block;
}




div.products {
  padding: 30px;
}
div.products .item {
  width: 40%;
}
#item1, #item2, #item3, #item4, #item5, #item6, #item7, #item8, #item9, #item10, #item11, #item12, #item13, #item14 {
  width: 40%;
}
div.ultimate-collectors-edition, div.dioramas, div.figures, div.battle-packs {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}




div.team {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}
div.team-mate {
  flex-wrap: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pp {
  width: 30%;
  padding: 10px;
}




div.contact {
  padding: 10px;
  font-size: 13px;
  background-color: black;
}
#find-us {
  font-size: 20px;
  text-align: left;
  color: red;
  padding: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
}




div.copyright {
  background-color: black;
  text-align: center;
  font-size: 0.7em;
  padding: 10px;
}
