/*UNIVERSAL*/
@media only screen and (max-resolution: 150dpi) and (max-width: 480px) {
body {
  	background-image: url("https://w0.peakpx.com/wallpaper/982/735/HD-wallpaper-glare-stars-space-black-sky-background-space.jpg");
  	height: 100%;
  	background-attachment: fixed;
  	background-size: cover;
	color: white;	
	font-family: 'Aldrich';
	margin: 0;
	padding: 0;
	}
}
/*NAV*/
nav {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav ul li {
	margin: 0 10px;
}
nav ul li a {
	color: #2d5dcc;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
}
.title {
	border: hidden;
}



/*CONTAINER*/
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
		
h1 {
	font-size: 48px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	background-color: #334d4d;
  	border: solid black;
  	border-radius: 6px;
	padding: 10px;
}
	



/*PORTFOLIO*/
.portfolio-item {
	width: calc(50% - 20px);
	margin-bottom: 40px;
	position: relative;
}
		
.portfolio-item img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	transition: all 0.3s ease-in-out;
}
		
/*.portfolio-item:hover img {
	transform: scale(1.1);
}*/
		
.portfolio-item .caption {
	background-color: rgba(255,255,255,0.8);
	color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	padding: 20px;
	text-align: center;
	box-sizing: border-box;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}
		
.portfolio-item:hover .caption {
	opacity: 1;
}
		
.portfolio-item .caption p {
	margin: 0;
	font-size: 16px;		
	font-weight: normal;
	margin-top: 10px;
	text-transform: none;
	line-height: 1.5;
}
